.drawer {
  position: relative;
  .btmDrawer {
    width: 100%;
    border-top: 1px solid rgba(163, 155, 155, 0.377);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    background-color: #fff;
    z-index: 100;
    button {
      min-width: 80px;
    }
    button + button {
      margin-left: 10px;
    }
  }
  .form {
    margin-bottom: 150px;
  }
}
