.viewdetail {
    padding: 10px;
  }
  .detailRow {
    height: 40px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    line-height: 40px;
    padding: 0 10px;
  
    .keyCol {
      border-right: 1px solid #b6b6b6;
      padding-right: 10px;
      color: #646464;
      width: 110px;
      height: 100%;
    }
    .valueCol {
      padding-left: 10px;
      height: 100%;
    }
  }
  