.start {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  :global {
    .ant-col {
      margin-bottom: 0px;
    }
    .ant-card-meta {
      .ant-card-meta-avatar {
        display: flex;
        align-items: center;
        padding: 0 !important;
      }
      .ant-card-meta-title {
        margin: 0 !important;
      }
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    min-height: 50px !important;
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    z-index: 1;
    a {
      font-size: 14px;
      font-weight: normal;
    }
    .editIcon {
      cursor: pointer;
      font-size: 17px;
      &:hover {
        color: blue;
      }
    }
  }
  .draft {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    width: 100%;
  }
  .giveStar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;
    :global {
      .ant-picker {
        width: 100%;
      }
    }
    .keyCol {
      width: 110px;
    }
    .row {
      padding: 5px;
      :global {
        .ant-col {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      button + button {
        margin-left: 5px;
        min-width: 70px;
      }
    }
  }
  .startNumber {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    width: 100%;
    :global {
      .ant-picker {
        width: 100%;
      }
    }
    button + button {
      margin-left: 5px;
      min-width: 70px;
    }
    margin-bottom: 10px;
  }
  .body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
    :global {
      .ant-table-wrapper {
        width: 100%;
      }
    }
    form {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .startNumberContent {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    align-items: center;
  }
  .giveAndReceive {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 30% - 10px);
  }
  .record {
    display: flex;
    align-content: stretch;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    height: 80px;
  }
  .contentRecord {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
  }
  .contentLibary {
    height: 600px;
  }
  .overFollow {
    height: 560px;
    overflow: auto;
  }
  .spacePicker {
    gap: 8px;
    display: flex;
    flex-direction: row-reverse;
  }
}
