.taskstatus {
  margin: 0 10px;
  :global {
    .ant-list {
      border-radius: 4px !important;
    }
    .ant-list-item {
      height: 80px;
      display: flex;
      align-items: center;
      .ant-list-item-meta {
        width: 100%;
      }
    }
  }
  .listheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .list {
    background-color: #fff;
    list-style: none;
    border: 1px solid #d9d9d9;
    padding: 0 20px;
    border-radius: 4px;
    .itemContent {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    :global {
      .ant-list-header {
        padding: 10px;
      }
      .ant-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .ant-col {
        margin: 0;

        button {
          width: 30px !important;
          height: 30px !important;
          padding: 0 !important;
        }

        button + button {
          margin-left: 10px;
        }

        button + span {
          margin-left: 10px;
        }

        span + span {
          margin-left: 10px;
        }
      }
    }
  }
}
